.content {
    display: flex;
    margin: 100px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
  }
// .bg{
//     background-image: url(../../assets/background-img.jpg);
// }