<div style="margin-top: 100px; padding: 15px;">
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <h2 class="head">YOUR OUTDOOR GUIDE</h2>
                <!-- <h3 class="card-header">Header</h3> -->
                <div class="card-block">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink id="link1">CAMPING</button>
                            <clr-tab-content *clrIfActive="true">
                                <div class="clr-row">
                                    <div class="clr-col-2">
                                        <a class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/RvCamping.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Great RV camproads
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping3.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping6.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                     <div class="clr-col-3" style="margin: 100px 30px;">
                                        <h3>POPULAR ARTICLES</h3>
                                        <br>
                                    CAMPING
                                    <br>
                                    Helpful Booking Tips for New Visitors
                                    <br>
                                    CAMPING
                                    <br>
                                    Enjoying Responsible Recreation</div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/WinterCamping.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping2.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping3.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/camping7.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                CAMPING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink>HIKING</button>
                            <clr-tab-content  id="content1" *clrIfActive>
                                <div class="clr-row">
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/Hiking.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/hikingLunch.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Great RV camproads
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/hiking6.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/hiking7.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="clr-row">
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/winterhiking.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/withDogHiking.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/images.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="clr-col-2">
                                        <a  class="card clickable">
                                            <div class="card-img">
                                                <img src="../../assets/hiking8.png" alt="..." />
                                            </div>
                                            <div class="card-block">
                                                HIKING
                                                <p class="card-text">
                                                    Where to camp in winter
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </clr-tab-content>
                        </clr-tab>
                    </clr-tabs>
                    <!-- <h4 class="card-title">Block</h4>
                    <div class="card-text">
                        ...
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
</div>