<!-- Footer -->
<footer class="footer bg-dark text-white">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            CONNECT
            <hr width="300px">
            <div class="row" style="width: 60%;">
                <div class="col"><i class="bi bi-facebook"></i> &nbsp; Facebook</div>
                <div class="col"><i class="bi bi-instagram"></i> &nbsp; Instagram</div>
                <div class="w-100"></div>
                <div class="col"><i class="bi bi-twitter"></i> &nbsp; Twitter</div>
                <div class="col"><i class="bi bi-pinterest"></i> &nbsp; Pinterest</div>
            </div>
        </div>
        <div class="col-3">
            YOUR OUTDOOR GUIDE
            <hr>
            <div class="row" >
                <div class="col">Camping guide</div>
                <div class="col">Help & faq</div>
                <div class="w-100"></div>
                <div class="col">Hunting & fishing</div>
                <div class="col">Submit feedback</div>
                <div class="w-100"></div>
                <div class="col">Campground directory</div>
               
            </div>
        </div>
        <div class="col">
            <img width="100" style="margin-top: 35px;" src="assets/app-store-logo.png">
        </div>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        Us Privacy Policy Copyright Policy Terms of Use Cookie Policy My Account Careers Advertising
                    </div>
                    <div class="w-100"></div>
                    <hr style="margin: 20px;">
                    <div class="col">
                        © 2022 Aspira. All rights reserved.
                    </div>

                </div>
        
         </div>
         <!-- <div class="w-100"></div>
         <div class="col"> © 2022 Aspira. All rights reserved.</div> -->
        

        </div>
    </div>
</footer>
<!-- Footer -->